{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Lib</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">LibApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="{% url 'index_page' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'borrow_page' %}">Borrow Book</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'udash_page' %}">Borrow Details</li>
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'singUp_page' %}">Sing Up</a></li>     -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'Login_page' %}">LogIn</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full"
        style="background-image: url('https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg?auto=compress&cs=tinysrgb&w=600')">
        <div class="text-center my-5">
            <!-- <img class="img-fluid rounded-circle mb-4" src="#" alt="..."> -->
            <h1 class="text-white fs-3 fw-bolder">We've got what you need!</h1>
            <p class="text-white-50 mb-0">If you cant't find it here, you won't find it anywhere!</p>
        </div>
    </header>

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h4 style="color:#0085A1 ;"></h4>
                    <div class="my-5">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" method="POST" action="{% url 'borrow_page' %}" data-sb-form-api-token="API_TOKEN">
                            {% csrf_token %}

                            
                            <div class="form-floating">
                                <input class="form-control" id="name" type="text" name="btitle"
                                    placeholder="Enter Post Title..." data-sb-validations="required" />
                                <label for="name">Book Title</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>


                            <div class="form-floating">
                                <select class="form-select" name="cat" aria-label="Default select example">
                                    <option selected>Select Category</option>
                                    <option value="1">NOVELS</option>
                                    <option value="2">FICTION</option>
                                    <option value="3">BIOGRAPHY'S</option>
                                    <option value="4">AUTOBIOGRAPHY'S</option>
                                    <option value="5">POETRY'S</option>
                                    <option value="6">NON-FICTION'S</option>
                                </select>
                            </div>

                            <!-- <div class="form-floating"> 
                                <input class="form-control" id="name" type="number" name="isbn" data-sb-validations="required" />
                                <label for="name">Book ISBN</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            
                            </div>  -->



                            <div class="form-floating">
                                <select class="form-select" name="Aname" aria-label="Default select example">
                                    <option selected>Select Author</option>
                                    <option value="1">J K Rowling</option>
                                    <option value="2">Paulo Coelho</option>
                                    <option value="3">Maya Angelous</option>
                                    <option value="4">Stephen King</option>
                                    <option value="5">Haruki Murakami</option>
                                    <option value="6">Salman Rushdie</option>
                                </select>
                            </div>

                            <!-- <div class="form-check">
                                <input class="form-check-input" type="radio" name="pactive" value="1" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Active
                                </label>
                             </div>
                              
                             <div class="form-check">
                                <input class="form-check-input" type="radio" name="pactive" value="0" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Inactive
                                </label>
                            </div> -->



                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a
                                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Borrow
                                Book</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>





    {% include 'footer.html' %}