{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lib</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">LibApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index_page' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_page' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'borrow_page' %}">Borrow Book</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'udash_page' %}">Borrow Details</li>
                    
                        <li class="nav-item"><a class="nav-link" href="{% url 'Login_page' %}">LogIn</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg?auto=compress&cs=tinysrgb&w=600')">
            <div class="text-center my-5">
                <!-- <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..."> -->
                <h1 class="text-white fs-3 fw-bolder">We've got what you need!</h1>
                <p class="text-white-50 mb-0">If you cant't find it here, you won't find it anywhere!</p>
            </div>
        </header>